/* KanbanBoard.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

.kanban-board {
    font-size: small;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #d4d4d453;
  }
  
  .group-by {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
  }
  .group-by label{
    margin-right: 30px;
  }
  .group-by select{
    padding: 3px 20px 3px 1px;
    font-weight: 500;
  }

  .ticket-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    padding: 10px;
  }
  
  .column {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }
  
  .group-head{
    padding: 10px;
    text-align: left;
    font-weight: 600;
  }
  
  .ticket {
    text-align: left;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .ticket_id{
    color: #9e9e9e;
  }

  .ticket_title{
    margin-top: 8px;
    color: black;
    font-weight: 700;
    margin-bottom: 18px;
  }

  .ticket_tags{
    display: flex;
    font-size: smaller;
    gap: 2px;
}
.tag-chip{
    display: inline-flex;
    align-items: center;
    padding: 4px;
    color: rgb(133, 133, 133);
    border: 1px solid rgba(220, 220, 220, 0.701);
  }
  .tag-chip::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(188, 188, 188); 
    margin-right: 6px; 
  }
  .count{
    margin-left: 8px;
    color: #ccc;
    font-weight: 400;
  }
  
.circle{
    width: 5px;
    height: 5px;
    background-color: red;
}